# Dev
private/
build/
tools/
ori/
.vscode/

# Main so far

data/US_1.0/code.bin
src/
project/

# Misc files; not for public
*.json
*.py
*.cpp
*.o
*.s
*.exe
*.axf
*.elf
CMakeLists.txt